@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-orange: #FE5E35;
    --light-grey: #b1b1b1;
}

html {
    font-size: 62.5%;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5rem 0; */
    margin-top: 5rem;
}

nav img:nth-child(1) {
    flex: 2;
    height: 4rem;
}

.nav-items {
    display: flex;
    gap: 7rem;
    font-size: 2.5rem;
    flex: 5;
    justify-content: center;
}

.nav-item {
    font-weight: 400;
    font-family: Poppins;
}

.nav-item.active-item {
    color: var(--primary-orange);
    font-weight: 700;
}



/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.intro-section {
    display: flex;
    margin-left: 7%;
}

h3 {
    font-size: 4rem;
    position: relative;
    font-family: Poppins;
    font-weight: 400;
}

h3 img {
    height: 5rem;
    position: absolute;
    left: 26rem;
    bottom: 0.5rem;
}

.left-section {
    margin-top: 4rem;
    width: 50vw;
}

.left-section>h1 {
    font-size: 7rem;
    font-family: Fredoka One;
    margin: 2rem 0;
}

.sub-headlines {
    font-size: 3rem;
    margin: 5rem 0;
}

.sub-headline {
    position: relative;
    margin: 2rem 15rem;
    font-family: Poppins;
    font-weight: 400;
}

.sub-headline img {
    padding: 0.7rem;
    height: 3.5rem;
    background-color: var(--primary-orange);
    border-radius: 5rem;
    position: absolute;
    left: -6rem;
    bottom: 0.1rem;
}

.text {
    width: 80%;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--light-grey);
    font-family: Poppins;
}

.action-btns {
    margin: 3rem 0;
}

.action-btn {
    background-color: var(--primary-orange);
    border: 0;
    padding: 1.5rem 3rem;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.7rem;
    border-radius: 3rem;
    color: white;
}

.action-btns>.action-btn {
    margin-right: 2rem;
}

.right-section {
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 3rem;
}

.headphone-div {
    position: relative;
    bottom: 3rem;
}

.discount {
    position: absolute;
    height: 12rem;
    top: 26rem;
    left: -2rem;
}

.shadow {
    /* -webkit-filter: drop-shadow(3px 3px 2px #ABABAB); */
    filter: drop-shadow(3px 5px 0px rgba(171, 171, 171, 0.5));
    /* Similar syntax to box-shadow */
}

.discount-content {
    position: absolute;
    font-family: Fredoka One;
    color: white;
}

.discount-content>h4 {
    position: absolute;
    font-size: 1.5rem;
    top: 29rem;
    left: 1rem;
}

.discount-content>h1 {
    position: absolute;
    font-size: 4rem;
    top: 30rem;
}

.headphone {
    height: 58vh;
}

.dots {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 3rem;
}

.dot {
    height: 3rem;
    width: 3rem;
    background-color: aqua;
    border-radius: 3rem;
}

.yellow-dot {
    background-color: yellow;
}

.tomato-dot {
    background-color: tomato;
}

.black-dot {
    background-color: black;
}

@media (width <=425px) {
    nav 
    .nav-items {
        display: none;
    }
    nav > img {
        margin-inline: 3rem;
    }

    .img-actions img{
        width: 80%;
        object-fit: cover;
    }

    .intro-section {
        flex-direction: column-reverse;
    }

    .right-section {
        margin-inline: auto;
        margin-top: 5rem;
    }

    .dots {
        width: 100%;
    }

    .left-section {
        margin-inline: auto;
        width: 100%;
    }

    .left-section h1 {
        font-size: 5rem;
    }

    .sub-headline {
        font-size: 1.5rem;
    }

    .sub-headline {
        width: fit-content;
        margin-left: 5rem;
    }

    .text {
        width: fit-content;
        text-align: center;
    }

    .action-btns {
        display: flex;
        margin-left: 2rem;
    }

    .action-btn {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .left-section h3{
        font-size: 3rem;
        width: fit-content;
    }

    .left-section h3 img{
        display: inline-block;
        position: static;
    }
}